# Ignore Git data
.git

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache

# Virtual environments
venv/
.env

# Large media files not needed for build
images/
static/videos/
*.mp4
*.avi 